.search-container{
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-top: 100px;
    width: 325px;
    height: auto;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px;

    .search-image{
        img{
            display: block;
            width: 16px;
            height: 16px;
        }
    }

    input{
        outline: none;
        width: 300px;
        border: none;
        margin-left: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
    
}