<div class="login-container">
    <div class="main-content-container">
        <div class="logo">
            <img src="../../assets/img/audio.svg" alt="logo">
        </div>
        <div class="title-header-button">
            <div class="app-name">music app</div>
            <div class="app-slogan">Every song at your fingertips.</div>
            <div class="signup-button">
                <p>sign up</p>
            </div>
        </div>
        <div class="info-button">
            <div class="logo-info">
                <img src="../../assets/img/information.svg" alt="logo">
            </div>
        </div>
    </div>
</div>