<div class="login-container">
    <div class="main-content-container">
        <div class="logo">
            <img src="../../assets/img/audio.svg" alt="logo">
        </div>
        <div class="title-header-button">
            <div class="app-name">music app</div>
            <div class="app-slogan">Every song at your fingertips.</div>
            <div class="signup-button">
                <p>sign in</p>
            </div>
        </div>
        <div class="info-button">
            <div class="logo-info" matTooltip="Designed & Developed by Kasra Tabrizi 2020"
                matTooltipClass="tooltip-green" matTooltipPosition="right"
                aria-label="Button that displays a tooltip when focused or hovered over">
                <img src="../../assets/img/information.svg" alt="logo">
            </div>
        </div>
    </div>
</div>