.trackplayer-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: #3BB273;
    font-family: 'Open Sans', sans-serif;

    .left-part{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .track-cover{
            border: 1px solid black;
            background-color: white;
            width: 100px;
            height: 100px;
        }

        .track-description-container{
            margin-left: 10px;
            .title-song{
                color: white;
                font-weight: 700;
                font-size: 1.2em;

                .like-container{
                    padding-left: 5px;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .artist-name{
                font-size: 0.8em;
                font-weight: 700;
            }
        }
    }

    .center-part{
        .track-controls{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 400px;

            img{
                width: 20px;
                height: 20px;
            }

            .playpause-button{
                img{
                    width: 50px;
                    height: 50px;
                }
            }

            .backwards-button{
                img{
                    transform: rotate(180deg);
                }
            }

            .random-button, 
            .repeat-button{
                img{
                    opacity: 0.6;
                }
            }
        }

        .track-bar{

        }
        
    }

    .right-part{
        display: flex;
        justify-content: space-evenly;
        
    }



}