.trackplayer-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: #3BB273;
    font-family: 'Open Sans', sans-serif;

    .left-part{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .track-cover{
            //border: 1px solid black;
            background-color: white;
            width: 60px;
            height: 60px;
        }

        .track-description-container{
            margin-left: 10px;
            .title-song{
                color: white;
                font-weight: 700;
                font-size: 1em;

                .like-container{
                    padding-left: 5px;
                    img{
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            .artist-name{
                font-size: 0.7em;
                font-weight: 700;
            }
        }
    }

    .center-part{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .track-controls{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 400px;

            img{
                width: 12px;
                height: 12px;
            }

            .playpause-button{
                img{
                    width: 30px;
                    height: 30px;
                }
            }

            .backwards-button{
                img{
                    transform: rotate(180deg);
                }
            }

            .random-button, 
            .repeat-button{
                img{
                    opacity: 0.6;
                }
            }
        }

        .track-bar{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 500px;

            .duration-bar{
                width: 400px;
                height: 5px;
                border-radius: 15px;
                background: rgba(255, 255, 255, 0.37);
            }

            .current-duration,
            .total-duration{
                color: white;
                font-size: 0.8em;
                font-weight: 600;
            }
        }
        
    }

    .right-part{
        display: flex;
        justify-content: space-evenly;
        
    }



}