.trackplayer-container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: #3BB273;
    font-family: 'Open Sans', sans-serif;

    .left-part{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .track-cover{
            border: 1px solid black;
            background-color: white;
            width: 100px;
            height: 100px;
        }

        .track-description-container{
            margin-left: 10px;
            .title-song{
                color: white;
                font-weight: 700;
                font-size: 1.2em;
            }
            .artist-name{
                font-weight: 700;
            }
        }

    }

    .center-part{
        display: flex;
        justify-content: space-evenly;
        
    }

    .right-part{
        display: flex;
        justify-content: space-evenly;
        
    }


    img{
        width: 20px;
        height: 20px;
    }
}