.category-container{
    //z-index: -1;
    font-family: 'Fredoka One', cursive;
    position: relative;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    overflow: hidden;

    &:hover{
        border-radius: 15px;
        transform: scale(1.05);
    }

    .image-container{
        img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            object-fit: cover;
        }
    }

    .description-container{
        text-align: center;
        .header{
            position: absolute;
            top: 70%;
            color: rgb(255, 255, 255);
            font-size: 1.2em;
            width: 100%;
        }
    }
}